<extend name="Layout:ly2"/>

<block name="head">
    <script type="text/javascript">
        $(function () {
            option = {
                title : {
                    text: '资讯分类饼形图',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: [<?=$legend_data_information ?>]
            },
            series : [
            {
                name: '咨询分类',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[<?=$series_data_information ?>],
                itemStyle: {
                emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
            }
            }
            ]
            };

            var information_ratio = echarts.init(document.getElementById('information_ratio'));
            information_ratio.setOption(option);
            window.onresize = function(){
                information_ratio.resize();
            };
        });
        /*
         虫害资讯比例图
         */
        $(function () {

            option = {
                title : {
                    text: '虫害资讯比例图',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: [<?=$legend_data_pests ?>]
            },
            series : [
            {
                name: '咨询分类',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[<?=$series_data_pests ?>],
                itemStyle: {
                emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
            }
            }
            ]
            };

            var ratio = echarts.init(document.getElementById('pest_ratio'));
            ratio.setOption(option);
            window.onresize = function(){
                ratio.resize();
            };
        });
        /*
         农药中毒资讯比例图
         */
        $(function () {

            option = {
                title : {
                    text: '农药中毒资讯比例图',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: [<?=$legend_data_poisoning ?>]
            },
            series : [
            {
                name: '咨询分类',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[<?=$series_data_poisoning ?>],
                itemStyle: {
                emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
            }
            }
            ]
            };


            var ratio = echarts.init(document.getElementById('poisoning_ratio'));
            ratio.setOption(option);
            window.onresize = function(){
                ratio.resize();
            };
        });


    </script>
</block>

<block name="body">
    <div class="container-fluid "style="padding-top: 50px">
        <div class="col-lg-12" style="padding-top: 50px">
            <div id="information_ratio" class="charts_h600"></div>
        </div>
        <div class="col-lg-12" style="padding-top: 50px">
            <div id="pest_ratio" class="charts_h600"></div>
        </div>
        <div class="col-lg-12" style="padding-top: 50px">
            <div id="poisoning_ratio" class="charts_h600"></div>
        </div>
    </div>
</block>