<extend name="Layout:ly2"/>

<block name="head">
    <script type="text/javascript">
        $(function () {
            option = {
                title : {
                    text: '咨询分类饼形图',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: [<?=$legend_data ?>]
                },
                series : [
                    {
                        name: '访问来源',
                        type: 'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:[<?=$series_data ?>],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };

            var information = echarts.init(document.getElementById('information'));
            information.setOption(option);
            window.onresize = function(){
                information.resize();
            };
        })
    </script>
</block>

<block name="body">
    <div class="container-fluid "style="padding-top: 20px">
        <div class="col-lg-12">
            <div id="information" class="charts_h600"></div>
        </div>
    </div>
</block>