<extend name="Layout:ly2"/>

<block name="head">
    <script type="text/javascript">
        $(function () {
            option = {
                tooltip : {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                title: {
                    text: '月度资讯总量  （开始时间：<?= date("Y-m-d",$month_start )?> - 结束时间：<?= date("Y-m-d",$month_end ) ?>）',
                    subtext: '按上传公历时间',
                    x:'center'

                },
                legend: {
                    data:['月度资讯','病虫害','农药中毒'],
                    left:'left'
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis : [
                    {
                        type : 'category',
                        data : [<?=$xAxis_data ?>]
            }
            ],
            yAxis : [
            {
                type : 'value'
            }
            ],
            series : [
            {
                name:'月度资讯',
                type:'bar',
                data:[<?=$series_data_information ?>]
            },
            {
                name:'病虫害',
                type:'bar',
                stack: '广告',
                data:[<?=$series_data_pests ?>]
            },
            {
                name:'农药中毒',
                type:'bar',
                stack: 'bar',
                data:[<?=$series_data_poisoning ?>]
            }
            ]
            };
            var Information = echarts.init(document.getElementById('Information'));
            Information.setOption(option);
            window.onresize = function(){
                Information.resize();
            };
        })
    </script>
</block>

<block name="body">
    <include file="Includes/monthSelect"/>
    <div class="container-fluid">
        <div class="col-lg-12">
            <div id="Information" class="charts_h600"></div>
        </div>
    </div>
</block>