<extend name="Layout:ly2"/>

<block name="head">
    <script type="text/javascript">
        $(function () {
            var mouth_solt_trades = <?=json_encode($mouth_solt_information)?>;
            var mouth_name = [];
            var trade_information = [];
            $.each(mouth_solt_trades, function (index, val) {
                mouth_name[index - 1] = mouth_solt_trades[index]['mouth_name'];
                trade_information[index-1] = mouth_solt_trades[index]['trade_information'];
            });
            option = {
                title: {
                text: '月度资讯总量图',
                left: 'center'
            },
                tooltip: {
                trigger: 'axis',
                axisPointer: {
                type: 'shadow'
            }
            },
                legend: {
                left: 'left',
                data: ['资讯总量']
            },
                grid: {
                left: '0',
                right: '0',
                bottom: '0',
                containLabel: true
            },
                xAxis: [
            {
                type: 'category',
                data: mouth_name
            }
                ],
                yAxis: [
            {
                type: 'value'
            }
                ],
                series: [
            {
                name: '资讯总量',
                type: 'bar',
                data: trade_information
            }
                ]
            };
            var Information = echarts.init(document.getElementById('Information'));
            Information.setOption(option);
            window.onresize = function(){
                Information.resize();
            };
        })
    </script>
</block>

<block name="body">
    <include file="Includes/dateSelect"/>
    <div class="container-fluid">
        <div class="col-lg-12">
            <div id="Information" class="charts_h600"></div>
        </div>
    </div>
</block>