<extend name="Layout:ly2"/>

<block name="head">
    <script type="text/javascript">
        $(function () {
            /*var mouth_solt_information = <?=json_encode($mouth_solt_information) ?>;
            var mouth_name = [];
            var information_amount = [];
            $.each(mouth_solt_information, function (index, val) {
                mouth_name[index - 1] = mouth_solt_information[index]['mouth_name'];
                information_amount[index-1] = mouth_solt_information[index]['information_amount'];
            });*/
            option = {
                title: {
                text: '月度资讯',
                left: 'center'
            },
                tooltip: {
                trigger: 'axis',
                axisPointer: {
                type: 'shadow'
            }
            },
                legend: {
                left: 'left',
                data: ['月度资讯']
            },
                grid: {
                left: '0',
                right: '0',
                bottom: '0',
                containLabel: true
            },
                xAxis: [
            {
                type: 'category',
                data: [<?=$xAxis_data ?>]
            }
                ],
                yAxis: [
            {
                type: 'value'
            }
                ],
                series: [
            {
                name: '月度资讯',
                type: 'bar',
                data: [<?=$series_data ?>]
            }
                ]
            };
            var Information = echarts.init(document.getElementById('Information'));
            Information.setOption(option);
            window.onresize = function(){
                Information.resize();
            };
        })
    </script>
</block>

<block name="body">
    <include file="Includes/dateSelect"/>
    <div class="container-fluid">
        <div class="col-lg-12">
            <div id="Information" class="charts_h600"></div>
        </div>
    </div>
</block>