<extend name="Layout:ly2"/>

<block name="head">
    <script>
        $(document).ready(function () {
            var Table = $("table");
            var ajax_url = "{:U('orderList')}";
            var DataTable = Table.DataTable({
                language: dataTables_zh_CN,
                pageLength: 10,
                processing: true,
                serverSide: true,
                order: [[2, "desc"]],
                ajax: ajax_url,
                initComplete: function () {
                    var api = this.api();
                    api.columns().indexes().flatten().each(function (i) {
                        var column = api.column(i);
                        var search = $('<input type="search" placeholder="查询 ' + $(column.header()).text() + '"/>');
                        $(column.footer()).empty().html(search);
                        search.on('keyup', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                            );
                            column.search(val, true, false).draw();
                        })
                    });
                }
            });
        });
    </script>
</block>

<block name="body">
    <div class="container-fluid padding-top">
        <h1>询价列表：</h1>
        <div class="col-lg-12">
            <table id="inquiry_table" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <?php foreach($column as $k => $v): ?>
                        <th>{$v['show_name']}</th>
                    <?php endforeach; ?>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <?php foreach($column as $k => $v): ?>
                    <th>{$v['show_name']}</th>
                    <?php endforeach; ?>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</block>