<extend name="Layout:ly2"/>

<block name="head">
    <script type="text/javascript">
        $(function () {            
            option = {
                title: {
                    text: '订单数年走势  （开始时间：<?= date("Y",$date_start )?>年 - 结束时间：<?= date("Y",$date_end ) ?>年）',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c}'
                },
                legend: {
                    left: 'left',
                    data: ['年走势', '年走势']
                },
                xAxis: {
                    type: 'category',
                    name: 'x',
                    splitLine: {show: false},
                    data: [{$yeartrade_name}]
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                yAxis: {
                    type: 'log',
                    name: 'y'
                },
                series: [
                    {
                        name: '年走势',
                        type: 'line',
                        data: [{$yeartrade_total}]
                    },
                    
                ]
            };

            var order_trend_chart = echarts.init(document.getElementById('order_trend_chart'));
            order_trend_chart.setOption(option);
            window.onresize = function(){
                order_trend_chart.resize();
            };
        })
    </script>
</block>

<block name="body">
    <div class="container-fluid">   
        <include file="Includes/yearSelect" />
                
        <div class="col-lg-12">
            <div id="order_trend_chart" class="charts_h600"></div>
        </div>
    </div>
</block>        