<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理系统</title>

<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>

<link href="__CSS__/default.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/jQueryEasyUI/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/jQueryEasyUI/themes/icon.css" />
<script type="text/javascript" src="__STATIC__/jQueryEasyUI/jquery.easyui.js"></script>
<script type="text/javascript" src='__STATIC__/jQueryEasyUI/outlook2.js'> </script>

<script type="text/javascript">
var _menus = {"menus":[

{"menuid":"1","icon":"icon-sys","menuname":"系统管理",
    "menus":[
        {"menuname":"菜单管理","icon":"icon-nav","url":"#"},
        {"menuname":"添加用户","icon":"icon-add","url":"demo.html"},
        {"menuname":"用户管理","icon":"icon-users","url":"demo2.html"},
        {"menuname":"角色管理","icon":"icon-role","url":"demo2.html"},
        {"menuname":"权限设置","icon":"icon-set","url":"demo.html"},
        {"menuname":"系统日志","icon":"icon-log","url":"demo.html"}
    ]
},{"menuid":"8","icon":"icon-sys","menuname":"员工管理",
    "menus":[
        {"menuname":"员工列表","icon":"icon-nav","url":"demo.html"},
        {"menuname":"视频监控","icon":"icon-nav","url":"demo1.html"}
    ]
},{"menuid":"56","icon":"icon-sys","menuname":"部门管理",
    "menus":[
        {"menuname":"添加部门","icon":"icon-nav","url":"demo1.html"},
        {"menuname":"部门列表","icon":"icon-nav","url":"demo2.html"}
    ]
},{"menuid":"28","icon":"icon-sys","menuname":"财务管理",
    "menus":[{"menuname":"收支分类","icon":"icon-nav","url":"demo.html"},
        {"menuname":"报表统计","icon":"icon-nav","url":"demo1.html"},
        {"menuname":"添加支出","icon":"icon-nav","url":"demo.html"}
    ]
},{"menuid":"39","icon":"icon-sys","menuname":"商城管理",
    "menus":[
        {"menuname":"商品分","icon":"icon-nav","url":"/shop/productcatagory.aspx"},
        {"menuname":"商品列表","icon":"icon-nav","url":"/shop/product.aspx"},
        {"menuname":"商品订单","icon":"icon-nav","url":"/shop/orders.aspx"}
    ]
}

]};
</script>

</head>

<body class="easyui-layout" style="overflow-y: hidden"  scroll="no">

<noscript>
    <div style=" position:absolute; z-index:100000; height:2046px;top:0px;left:0px; width:100%; background:white; text-align:center;">
        <img src="__IMG__/noscript.gif" alt='抱歉，请开启脚本支持！' />
    </div>
</noscript>

<div region="north" split="true" border="false" style="overflow: hidden; height: 30px;background: url(__IMG__/layout-browser-hd-bg.gif) #7f99be repeat-x center 50%;line-height: 20px;color: #fff; font-family: Verdana, 微软雅黑,黑体">
    <span style="float:right; padding-right:20px;" class="head">欢迎 admin 登录 <a href="#" id="editpass">修改密码</a> <a href="#" id="loginOut">安全退出</a></span>
    <span style="padding-left:10px; font-size: 16px; "><img src="__IMG__/blocks.gif" width="20" height="20" align="absmiddle" /> 后台管理系统</span>
</div>

<div region="south" split="true" style="height: 30px; background: #D2E0F2; ">
    <div class="footer">后台管理系统</div>
</div>

<div region="west" split="true" title="导航菜单" style="width:180px;" id="west">
    <div class="easyui-accordion" fit="true" border="false">
    <!--  导航内容 -->
    </div>
</div>

<div id="mainPanle" region="center" style="background: #eee; overflow-y:hidden">
    <div id="tabs" class="easyui-tabs"  fit="true" border="false" >
        <div title="欢迎使用" style="padding:20px;overflow:hidden;" id="home">
            <h1>Welcome to jQuery UI!</h1>
        </div>
    </div>
</div>

</body>
</html>