<include file="Layout:ly2"/>

<block name="body">

<div class="nav" style="height:47px;">
	<div class="nav_title">
    	<h2><img class="nav_img" src="__IMG__/tab.gif" /><a class="daohang_a" href="javascript:;">系统信息</a></h2>
    </div>
</div>
    
<div class="list">
	  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="details">
        <tbody>
          <tr>
	      	<td width="15%"><div align="right">服务器操作系统：</div></td>
	      	<td width="35%"><?php $os = explode(' ', php_uname()); echo $os[0]; ?></td>
	      	<td width="15%"><div align="right">Apche/PHP版本：</div></td>
	      	<td width="35%">{$data['apache_php']}</td>
	      </tr>
          <tr>
	      	<td><div align="right">服务器IP：</div></td>
	      	<td>{$data['server_ip']}</td>
	      	<td><div align="right">绝对路径：</div></td>
	      	<td></td>
	      </tr>
          <tr>
            <td><div align="right">最大上传限制：</div></td>
            <td>{$data['max_upload']}</td>
            <td><div align="right">PHP版本：</div></td>
            <td><?php echo PHP_VERSION; ?></td>
          </tr>
		  
		  <tr>
            <td><div align="right">服务器当前时间：</div></td>
            <td>{$realtime['time']}</td>
            <td><div align="right">服务器已运行时间：</div></td>
            <td>{$realtime['uptime']}</td>
          </tr>
		  
		  <tr>
            <td><div align="right">网站目录空间：</div></td>
            <td>{$sys_info['disk_total']} G</td>
            <td><div align="right">网站目录可用空间：</div></td>
            <td>{$realtime['disk_free']}</td>
          </tr>
        </tbody>
	</table>
</div>

</block>
