<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=">
<title>后台管理系统</title>
<link rel="stylesheet" href="__PUBLIC__/Admin/css/css.css">
<script src="__PUBLIC__/Admin/js/jquery-1.9.1.js"></script>
<script src="__PUBLIC__/Common/Layer-1.9.3/layer.js"></script>
<style type="text/css">
.details tbody tr td label{position: relative;top:-3px;margin-right: 20px;}		
.details tbody tr td label input{position: relative;top:8px;margin-right: 6px;}		
</style>
</head>
<body>

<div class="nav">
	<div class="nav_title">
    	<h2><img class="nav_img" src="__PUBLIC__/Admin/img/tab.gif" /><span class="nav_a">数据库备份/还原</span></h2>
    </div>
    <div class="nav_button">
    	<a href="{:U('Admin/admin_list')}"><button class="button">返回上一层</button></a>
    </div>
</div>

<div class="db_box">
	<?php
		require '/Application/Admin/Common/DbManage.class.php';
		$db = new DBManage ( 'localhost', 'root', 'root', 'guahao', 'gbk' );

		if(IS_GET){
			$type = $_GET['type'];
			if($type == "backup"){				
				$db->backup ('','','');
				//$db->restore ( './backup/20121027194215_all_v1.sql');
			}else if($type == "restore"){
				//$db->restore ( './backup/20121027194215_all_v1.sql');
			}
		}
		
	?>
</div>



<form name="myform" action="__SELF__" method="post" onsubmit="return check();">
	<div class="footer">
		<div class="save_button" style="padding-top:8px;">
	        <a class="button" href="{:U('Index/db_backup',array('type'=>'backup'))}" style="width:180px;">数据备份</a>&nbsp;&nbsp;&nbsp;&nbsp;				
	        <a class="button" href="{:U('Index/db_backup',array('type'=>'restore'))}" style="width:180px;">数据还原</a>
	    </div>
	</div>
</form>

</body>
</html>
