<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=">
<title>后台管理系统</title>
<link rel="stylesheet" href="__PUBLIC__/Admin/css/css.css">
<script src="__PUBLIC__/Admin/js/jquery-1.9.1.js"></script>
<script src="__PUBLIC__/Admin/js/base.js"></script>
<script src="__PUBLIC__/Common/Layer-1.9.3/layer.js"></script>
<script>
//退出登录
function logout(){
	layer.confirm('你确定要退出吗？', {icon: 3}, function(index){
	    layer.close(index);
	    window.location.href="{:U('Index/logout')}";
	});
}
$(function(){
	$(".menu.t ul li a").click(function(){
		$a = $(this).html();
		$(".sub_menu_title").html($a);
	})
})


</script>
</head>
<body style="min-width:1100px; overflow:hidden;">
<!--header -->
<div class="header">
	<div class="logo"><div class="logo_img"><img src="__PUBLIC__/Admin/img/logo.gif" /></div></div>
    <div class="top">	
        <div class="top_link">
            <div style="line-height:35px; float:left; margin-right:20px;">
            您好 [ &nbsp;&nbsp;<a style="color:#00F; font-size:18px;" target="iframe" href="{:U('Admin/admin_edit',array('id'=>$_SESSION['aid']))}">{$_SESSION['account']}</a> &nbsp;&nbsp;] ，欢迎回来！
            </div>
            <ul>
                <li class="top_link_left"></li>
                <li class="top_link_bg"><a class="annex" target="iframe" href="{:U('Index/main')}">后台首页</a></li>
                <li class="top_link_bg"><a class="annex" href="javascript:;" onclick="clear_cache();">清除缓存</a></li>
                <li class="top_link_bg"><a class="annex" href="javascript:;" onclick="return logout();">退出</a></li>
                <li class="top_link_right"></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="menu t">
            <ul>
				<li><a href="javascript:;" id="menu_hover-2" onclick="change_menu(-2)" class="menu_hover">首页</a></li>
            	<foreach name="data" item="vo">
                	<li><a href="javascript:;" id="menu_hover{$vo.id}" onclick="change_menu({$vo.id})">{$vo.title}</a></li>
            	</foreach>
				<li><a href="javascript:;" id="menu_hover-1" onclick="change_menu(-1)">用户管理</a></li>
            </ul>
        </div>
    </div>
	<div class="his">[ <a class="annex" target="_parent" href="{:U('Index/index')}">切换医院：</a><span class="his_name"></span> ]</div>
</div>

<!--left 此处的sub_menu_a+id   以及  change_sub_menu+id  (id为不重复的数字)  必须存在，否则菜单栏会出错 -->
<div class="left" id="left_sub_menu">
	<input type="hidden" name="right_show" id="right_show" value="1" />
    <div class="sub_menu_title">快捷导航</div>
	
	<ul class="sub_menu" id="sub_menu-2" style="display:block;">
		<li><a id="sub_menu_-6" onclick="change_sub_menu(-6)" href="{:U('Index/setup_list')}" target="iframe">系统设置</a></li>
		<li><a id="sub_menu_-666" onclick="change_sub_menu(-666)" href="{:U('Admin/admin_list')}" target="iframe">用户管理</a></li>

		<if condition="$_SESSION['aid'] eq 1">
		<li><a id="sub_menu_-6666" onclick="change_sub_menu(-6666)" href="{:U('Bak/index')}" target="iframe">数据库备份/还原</a></li>	
		</if>

	</ul>
	
    <foreach name="data" item="vo">
    <ul class="sub_menu" id="sub_menu{$vo['id']}" style="display:none;">
    	<foreach name="vo['sub']" item="sub">
    	<li><a id="sub_menu_{$sub['id']}" onclick="change_sub_menu({$sub['id']})" href="__MODULE__/{$sub['name']}" target="iframe">{$sub['title']}</a></li>
        </foreach>
    </ul>
    </foreach>

    <ul class="sub_menu" id="sub_menu-1" style="display:none;">
    	<li><a id="sub_menu_-6" onclick="change_sub_menu(-6)" href="{:U('Admin/admin_list')}" target="iframe">用户管理</a></li>
		<if condition="$_SESSION['aid'] == 1">
        <li><a id="sub_menu_-7" onclick="change_sub_menu(-7)" href="{:U('Admin/auth_group')}" target="iframe">用户组管理</a></li>
        <li><a id="sub_menu_-8" onclick="change_sub_menu(-8)" href="{:U('Admin/auth_rule')}" target="iframe">权限管理</a></li>     
		</if>
    </ul>
    <div class="web_info">挂号系统 v 1.0</div>
</div>

<!-- split_line -->
<div class="split_line" id="left_hidden">
	<div class="left_hidden botton_left_hover"></div>
</div>

<!-- right -->
<div class="right">
<iframe frameborder="0" id="iframe" name="iframe" style="min-width:850px;" src="main.html"></iframe>
</div>


</body>
</html>
