<extend name="Layout:ly2"/>

<block name="head">

</block>

<block name="body">
    <div class="container-fluid padding-top">
        <h1>代理商列表</h1>
        <div class="col-lg-12">
            <table id="member_inquiry_table" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>代理地区</th>
                    <th>userid</th>
                    <th>名称</th>
                    <th>姓名</th>
                    <th>手机</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach($agents as $k => $v): ?>
                <tr>
                    <td><?=$v['areainfo'][2]." ".$v['areainfo'][1]." ".$v['areainfo'][0] ?></td>
                    <td>{$v['memberinfo']['userid']}</td>
                    <td>{$v['memberinfo']['username']}</td>
                    <td>{$v['memberinfo']['truename']}</td>
                    <td>{$v['memberinfo']['mobile']}</td>
                </tr>
                <?php if($v['downlines']): ?>
                <?php foreach($v['downlines'] as $k1 => $v1): ?>
                <tr>
                    <td></td>
                    <td>{$v1['memberinfo']['userid']}</td>
                    <td>{$v1['memberinfo']['username']}</td>
                    <td>{$v1['memberinfo']['truename']}</td>
                    <td>{$v1['memberinfo']['mobile']}</td>
                </tr>
                <?php endforeach; ?>
                <?php endif; ?>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</block>