@charset "utf-8";
html{-webkit-text-size-adjust: none;}
body {font-family:"微软雅黑";color:#000;font-size:62.5%;border:0px;padding:0px;margin:0px;}
h1,h2,h3,h4,h5,h6,ul,ol,li,input,p,dl,dt,dd{border:0px;padding:0px;margin:0px;list-style-type:none;}
a,a:hover{text-decoration:none;color:#000;}
img{border:0px;vertical-align:top}
.clear{clear:both;}
.clearfix:after { content: ""; display: table; clear: both; }
.clearfix { *zoom:1;}


/*重写 easyui.css*/

.menu{width: 200px;}
