<div class="container-fluid padding">
    <form id="date_select_form" class="form-inline" method="post" action="__SELF__" onsubmit="return check_date_input()">
        <div class="form-group">
            <label for="date_start">开始日期</label>
            <input type="text" name="date_start" class="form-control" id="date_start" placeholder="开始日期">
        </div>
        <div class="form-group margin-left">
            <label for="date_end">结束日期</label>
            <input type="text" name="date_end" class="form-control" id="date_end" placeholder="结束日期">
        </div>
        <button type="submit" class="btn btn-default">提交</button>
    </form>

    <script>
        //日期验证结束时间必须大于开始时间
        function check_date_input(){            
            var date_start = $("#date_start").val();
            var date_end = $("#date_end").val();                          
            if(formatTime(date_end) < formatTime(date_start)){
                alert('结束日期必须大于开始日期');
                $("#date_end").val("").focus();
                return false;
            }
            return true;            
        }
               
        //日期控件配置
        $(document).ready(function () {
            var datetimepicker_config = {
                format:"yyyy-mm",
                autoclose:true,
                startView:4,
                maxView:4,
                minView:3,
                language:"zh-CN"
            };
            $("#date_start").datetimepicker(datetimepicker_config);
            $("#date_end").datetimepicker(datetimepicker_config);
        });        
    </script>
</div>