<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=">
<title>登录</title>
<link rel="stylesheet" href="__PUBLIC__/Admin/css/login.css">
<script src="__PUBLIC__/Admin/js/jquery-1.9.1.js"></script>
<script src="__PUBLIC__/Common/Layer-1.9.3/layer.js"></script>
<script>
/*$(function(){
	$('#code').keyup(function(){
		var code = $('#code').val();
		if(code.length == 4 && $('#check_code').val() == 0){
			$.get("{:U('Public/check_code')}", {code:code},function(data){
				if(data == 1){
					$('#check_code').val(1);
					layer.tips('√ 正确，请不要再变动', '#code',{time: 60000});
				}else{
					$('#check_code').val(0);
					layer.tips('× 输入错误', '#code');
				}
			});
		}
	});
})*/
</script>
<script>
function check_login(){
	var account = $('#account').val();
	var password = $('#password').val();
	var code = $('#code').val();	//验证码
	var check_code = $('#check_code').val();	//验证码验证结果
	if(account == ''){
		layer.tips('请输入用户名', '#account');
		return false;
	}
	if(password == ''){
		layer.tips('请输入密码', '#password');
		return false;
	}
	if(code == ''){
		layer.tips('请输入验证码', '#code');
		return false;
	}
	if(check_code == 0){
		layer.tips('验证码错误', '#code');
		return false;
	}
	return true;
}
</script>
<style type="text/css">
#logo{font-size:37px;font-weight:bold;font-family:"微软雅黑";color:#146AC1;}
</style>
</head>
<body>

<div class="main">
	<div class="login">
	<form name="loginform" id="loginform" method="post" action="{:U('Public/login')}" onSubmit="return check_login()">
	  <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
	    <tr>
	      <td width="49%" rowspan="3">
			  <div id="logo">预约挂号系统</div>
          </td>
	      <td width="12%">用户名：</td>
	      <td width="39%"><input type="text" name="account" id="account" class="infoInput" maxlength="20" value="" style="width:180px; height:30px; margin-top:5px; font-size:16px; padding-left:3px;" /></td>
        </tr>
	    <tr>
	      <td height="36">密&nbsp;&nbsp;&nbsp;码：</td>
	      <td><input type="password" name="password" id="password" value="" style="width:180px; height:30px; margin-top:12px; font-size:16px; padding-left:3px;" /></td>
        </tr>
	    <tr>
	      <td>验证码：</td>
	      <td><input type="text" name="code" class="infoInput" id="code" maxlength="4" value="" style="width:80px; height:30px; text-transform: uppercase; margin-top:12px; font-size:16px; padding-left:3px;" />
			<img style="border:1px solid #D4E7F6; cursor:pointer;position:relative;top:12px;" width=93 height=32 title="点我刷新哦！" src="{:U('Public/verify')}" onclick="javascript:this.src=this.src+'?time='+Math.random()" />
		  </td>
        </tr>
	    <tr>
	      <td>&nbsp;</td>
	      <td>&nbsp;</td>
	      <td><input type="submit" name="submit" value="登&nbsp;&nbsp;&nbsp;录" style="width:185px; height:38px; cursor:pointer; background:#1c7ad9; border:0; color:#FFF; font-size:14px; font-weight:600; border-radius:4px; position:relative; top:15px;" />
          </td>
        </tr>
      </table>
      
	  </form>
	</div>
	<div class="End">版权所有 2015 保留所有权利</div>
</div>


</body>
</html>
