<extend name="Layout:ly2"/>

<block name="head">
    <script>
        $(document).ready(function () {
            var Table = $("#inquiry_table");
            var ajax_url = "{:U('marketProducts')}";
            var DataTable = Table.DataTable({
                language: dataTables_zh_CN,
                pageLength: 10,
                processing: true,
                serverSide: true,
                order: [[0, "desc"]],
                ajax: ajax_url,
                initComplete: function () {
                    var api = this.api();
                    api.columns().indexes().flatten().each(function (i) {
                        var column = api.column(i);
                        if (i != 1) {
                            var search = $('<input type="search" placeholder="查询 ' + $(column.header()).text() + '"/>');
                            $(column.footer()).empty().html(search);
                            search.on('keyup', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                );
                                column.search(val, true, false).draw();
                            })
                        } else {
                            $(column.footer()).empty().html('<input type="search" placeholder="不可查询" readonly/>')
                        }
                    });
                }
            });
//            $(".dataTables_filter").hide();
            $("#repeat_products").DataTable({
                language: dataTables_zh_CN,
                pageLength: 10,
            });
        });
        $(document).ready(function () {
            $("#see").click(function(){
                $("#repeat").toggle();
            });
        });
    </script>
</block>

<block name="body">
    <div class="container-fluid padding-top">
        <h1>门市产品列表：</h1>
        <div class="col-lg-12">
            <table id="inquiry_table" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <?php foreach($column as $k => $v): ?>
                    <th>{$v['show_name']}</th>
                    <?php endforeach; ?>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <?php foreach($column as $k => $v): ?>
                    <th>{$v['show_name']}</th>
                    <?php endforeach; ?>
                </tr>
                </tfoot>
            </table>
        </div>


        <h1>重复产品列表：<button type="button" class="btn" id="see">点击查看/关闭重复产品</button></h1>
        <div class="col-lg-12" id="repeat" style="display: none;">
            <table id="repeat_products" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>产品id</th>
                    <th>重复</th>
                    <th>产品缩略图</th>
                    <th>产品</th>
                    <th>规格</th>
                    <th>厂家</th>
                    <th>门市</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach($repeat_products as $k => $v): ?>
                    <tr>
                        <td>{$v['product_id']}</td>
                        <td>{$v['total']}</td>
                        <td><img src="{$v['thumb']}" alt=""></td>
                        <td>{$v['product']}</td>
                        <td>{$v['standard']}</td>
                        <td>{$v['cj']}</td>
                        <td>{$v['sale_name']}</td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</block>