<extend name="Layout:ly2"/>

<block name="head">
    <script>
        $(document).ready(function () {
            var ajax_url = "{:U('Admin/Product/ajaxGetSellShipmentStatistics')}";
            var Table = $('table');
            var DataTable = Table.dataTable({
                language: dataTables_zh_CN,
                pageLength: 10,
                "processing": true,
                "serverSide": true,
                "ajax": ajax_url
            });
        });
    </script>
</block>

<block name="body">
    <div class="container-fluid padding-top">
        <h1>厂家会员出货统计（全部）：</h1>
        <div class="col-lg-12">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                <th>用户id</th>
                <th>用户名</th>
                <th>公司</th>
                <th>在售产品数</th>
                <th>订单数</th>
                <th>出货数</th>
                <th>销售总额</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</block>