<extend name="Layout:ly2"/>

<block name="head">
    <script type="text/javascript">
        $(function () {
            option = {
                title: {
                text: '下单付款金额图',
                left:'center'
            },
                tooltip: {
                trigger: 'axis'
            },
                legend: {
                left: 'left',
                data:['交易金额']
            },
                grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
                toolbox: {
                feature: {
                saveAsImage: {}
            }
            },
                xAxis: {
                type: 'category',
                boundaryGap: false,
                data: [<?=$xAxis_data ?>]
            },
                yAxis: {
                type: 'value'
            },
                series: [
            {
                name:'交易金额',
                type:'line',
                data:[<?=$mouth_data ?>]
            }
                ]
            };
            var mouth_chart = echarts.init(document.getElementById('mouth_chart'));
            mouth_chart.setOption(option);
            window.onresize = function(){
                mouth_chart.resize();
            };
        })
    </script>
</block>

<block name="body">
    <include file="Includes/monthSelect"/>
    <div class="container-fluid">
        <div class="col-lg-12">
            <div id="mouth_chart" class="charts_h600"></div>
        </div>
    </div>
</block>