<extend name="Layout:ly2" />

<block name="head">

</block>

<block name="body">
    <include file="Includes/dateSelect" />
    <div class="container-fluid">
        <div class="col-lg-7">
            <div class="alert alert-success">
                <span>今日成功订单的付款总额:<span class="label label-danger">{$today_amount_total}</span>元</span>
                <hr>
                <span><b>{:date("Y-m-d",$date_start)}</b>到<b>{:date("Y-m-d",$date_end)}</b>成功订单的付款总额:<span class="label label-danger">{$amount_total}</span>元</span>
            </div>
        </div>
    </div>
</block>