<extend name="Layout:ly2"/>

<block name="head">
    <script type="text/javascript">
        $(function () {
            option = {
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                legend: {
                    data:[<?=$legend_data ?>]
                },
                grid: {
                    left: '0',
                    right: '0',
                    bottom: '0',
                    containLabel: true
                },
                toolbox: {
                    show: true,
                    orient: 'vertical',
                    x: 'right',
                    y: 'center'
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        data: [<?=$xAxis_data ?>]
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    <?php foreach($same_year_trades as $k => $v): ?>
                        {
                            name: '<?=$k ?>',
                            type: 'bar',
                            data: [<?=$v['year_data'] ?>]
                        },
                    <?php endforeach; ?>
                ]
            };

            var Echart = echarts.init(document.getElementById('Echart'));
            Echart.setOption(option);
            window.onresize = function () {
                Echart.resize();
            };
        })
    </script>
</block>

<block name="body">
    <include file="Includes/yearSelect"/>
    <div class="container-fluid">
        <h3>每月同期付款对比</h3>
        <div class="col-lg-12">
            <div id="Echart" class="charts_h600"></div>
        </div>
    </div>
</block>