<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台登陆 - 网站管理系统</title>
<link type="text/css" href="__COMMON__/login.css" rel="stylesheet" />	
</head>
<body>
<div id="container">
    <div class="logo">
        <a href="#"><img src="__IMG__/logo.png" alt="" /></a>
    </div>
    
    <div id="box">
        <form name="loginform" id="loginform" method="post" action="{:U('Public/login')}" onSubmit="return check_login()">
        <p class="main">
            <label>Username: </label>
            <input type="text" name="account" value="" /> 
            <label>Password: </label>
            <input type="password" name="password" value="">	
        </p>

        <p class="space">
            <span><input type="checkbox" />Remember me</span>
            <input type="submit" value="Login" class="login" />
        </p>
        </form>
    </div>
</div>

</body>
</html>