<extend name="Layout:ly2" />

<block name="head">

</block>

<block name="body">
    <div class="panel panel-primary">
        <h3 class="panel-header">改价记录</h3>

        <div class="panel-body">
            <table class="table table-hover table-bordered table-condensed form-inline">
                <tr>
                    <th>行为ID</th>
                    <th>会员名</th>
                    <th>原价格</th>
                    <th>修改价格</th>
                    <th>修改时间</th>
                    <th>修改类型</th>
                </tr>
                <foreach name="list" item="vo" >
                    <tr>
                        <td>{$vo.tradeid}</td>
                        <td>{$vo.username}</td>
                        <td>{$vo.primary}</td>
                        <td>{$vo.goal}</td>
                        <td>{$vo.addtime|date="Y-m-d H:i:s",###}</td>
                        <td>{$vo.type}</td>
                    </tr>
                </foreach>
            </table>
            <div>{$pages}</div>
        </div>
    </div>
</block>