<extend name="Layout:ly2" />
<block name="head">
</block>

<block name="body">
    <div class="panel panel-primary">
        <h3 class="panel-header">订单操作记录</h3>

        <div class="panel-body">
            <table class="table table-hover table-bordered table-condensed form-inline">
                <tr>
                    <th>行为ID</th>
                    <th>操作账号</th>
                    <th>修改时间</th>
                    <th>修改类型</th>
                </tr>
                <foreach name="list" item="vo" >
                    <tr>
                        <td>{$vo.tradeid}</td>
                        <td>{$vo.editor}</td>
                        <td>{$vo.addtime|date="Y-m-d H:i:s",###}</td>
                        <td>{$vo.status}</td>
                    </tr>
                </foreach>
            </table>
            <div>{$pages}</div>
        </div>
    </div>
</block>