<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理系统</title>

<!--jquery-->
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>

<!--jquery form-->
<script type="text/javascript" src="__STATIC__/jquery.form.js"></script>

<!--jquery easy ui-->
<link rel="stylesheet" type="text/css" href="__STATIC__/jQueryEasyUI/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/jQueryEasyUI/themes/icon.css" />
<script type="text/javascript" src="__STATIC__/jQueryEasyUI/jquery.easyui.min.js"></script>

<!--bootstrap-->
<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap-3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap-3.3.5/css/bootstrap-theme.min.css" />
<script type="text/javascript" src="__STATIC__/bootstrap-3.3.5/js/bootstrap.min.js"></script>

<!--datatables-->
<link rel="stylesheet" type="text/css" href="__STATIC__/DataTables-1.10.8/media/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="__STATIC__/DataTables-1.10.8/media/js/jquery.dataTables.min.js"></script>

<!--layer-->
<link rel="stylesheet" type="text/css" href="__STATIC__/layer-v2.1/layer/skin/layer.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/layer-v2.1/layer/skin/layer.ext.css" />
<script type="text/javascript" src="__STATIC__/layer-v2.1/layer/layer.js"></script>
<script type="text/javascript" src="__STATIC__/layer-v2.1/layer/extend/layer.ext.js"></script>

<!--echarts-->
<script type="text/javascript" src="__STATIC__/echarts.min.js"></script>

<!--datetimepicker-->
<link rel="stylesheet" type="text/css" href="__STATIC__/datetimepicker/css/datetimepicker.css" />
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<!--common-->
<link rel="stylesheet" type="text/css" href="__COMMON__/common.css" />
<script type="text/javascript" src="__COMMON__/common.js"></script>

<!--self-->
<link rel="stylesheet" type="text/css" href="__CSS__/style.css" />

<script type="text/javascript">
//退出登录
function logout(){
    layer.confirm('你确定要退出吗？', {icon: 3}, function(index){
        layer.close(index);
        window.location.href="{:U('Public/logout')}";
    });
}

//修改密码
function update_pwd(){
    layer.open({
        type: 2,
        closeBtn: 2,
        area: ['450px', '280px'],
        title: '修改密码',
        content: "{:U('Index/edit_pwd')}"
    });
}

//清除缓存
function clear_cache(){
    layer.open({
        type: 2,
        closeBtn: 2,
        area: ['520px', '160px'],
        shadeClose: true,
        title: '清除缓存（ 点击遮罩可以关闭窗口哦！ ）',
        content: "{:U('Index/clear_cache')}"
    });
}    
</script>

<block name="head"></block>
