<div region="west" split="true" title="导航菜单" style="width:180px;" id="west">
    <!--开始-->
    <div class="easyui-accordion" border="false">
        
        <foreach name="data" item="vo">
        <div title="{$vo['title']}" data-options="iconCls:'icon-add'">
            <ul>
                <foreach name="vo['sub']" item="sub">
                <li><a href="__MODULE__/{$sub['name']}" target="mainFrame">{$sub['title']}</a></li>  
                </foreach>
            </ul>
        </div>
        </foreach>
        
        
        <div title="订单报表" data-options="iconCls:'icon-add'">
            <ul>
                <li><a href="{:U('trade/orderTrend')}" target="mainFrame">订单走势</a></li>
                <li><a href="" target="mainFrame">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
            </ul>
        </div>
        <div title="About" data-options="iconCls:'icon-add'">
            <ul>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
            </ul>
        </div>
        <div title="About" data-options="iconCls:'icon-add'">
            <ul>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
            </ul>
        </div>
        <div title="About" data-options="iconCls:'icon-add'">
            <ul>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
            </ul>
        </div>
    </div>
    <!--结束-->
</div>
