<div region="west" split="true" title="导航菜单" style="width:180px;" id="west">
    <!--开始-->
    <div class="easyui-accordion" border="false">
        <div title="About" data-options="iconCls:'icon-add'">
            <ul>
                <li><a href="{:U('Public/login')}" target="mainFrame">系统设置1</a></li>
                <li><a href="" target="mainFrame">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
            </ul>
        </div>
        <div title="订单报表" data-options="iconCls:'icon-add'">
            <ul>
                <li><a href="{:U('trade/orderTrend')}" target="mainFrame">订单走势</a></li>
                <li><a href="" target="mainFrame">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
            </ul>
        </div>
        <div title="About" data-options="iconCls:'icon-add'">
            <ul>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
            </ul>
        </div>
        <div title="About" data-options="iconCls:'icon-add'">
            <ul>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
            </ul>
        </div>
        <div title="About" data-options="iconCls:'icon-add'">
            <ul>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
                <li><a href="">系统设置</a></li>
            </ul>
        </div>
    </div>
    <!--结束-->
</div>
