<div region="west" split="true" title="导航菜单" style="width:180px;" id="west">
    <!--开始-->
    <div class="easyui-accordion" border="false">
        
        <foreach name="data" item="vo">
        <div title="{$vo['title']}" data-options="iconCls:'icon-add'">
            <ul>
                <foreach name="vo['sub']" item="sub">
                <li><a href="{:U($sub['name'])}" target="mainFrame">{$sub['title']}</a></li>
                </foreach>
            </ul>
        </div>
        </foreach>
        
    </div>
    <!--结束-->
</div>
