<!DOCTYPE html>
<html lang="en">
<head>
<include file="Layout:head1" />
</head>
<body>
    <div class="body">
        <block name="header"></block>
        <div class="easyui-layout" style="width:100%;height:900px;">
            <div data-options="region:'north'" style="height:50px"></div>
            <div data-options="region:'west',split:true" title="West" style="width:15%;">
                <block name="west">west</block>
            </div>
            <div data-options="region:'center',title:'Main Title',iconCls:'icon-ok'" style="width:85%;">
                <block name="main">main</block>
            </div>
        </div>
    </div>
</body>
</html>