<!DOCTYPE html>
<html>
<head>
<title></title>
<include file="Layout:head1" />
</head>
<body class="easyui-layout" style="overflow-y: hidden"  scroll="no">

<include file="Layout:header1"/>

<include file="Layout:lefter1"/>

<div id="mainPanle" region="center" style="background: #eee; overflow-y:hidden">
    <div id="tabs" class="easyui-tabs"  fit="true" border="false" >
        <div title="欢迎使用" style="padding:20px;overflow:hidden;" id="home">
            <block name="body">body</block>
        </div>
    </div>
</div>

</body>
</html>